.whoami-container{
    padding-top: 80px;
    width: 100%;
    flex-direction: column;
    overflow: visible;
    position: relative;
}

.whoami-description{
    color: var(--PortWhite, #FFF);
    text-align: center;
    font-family: "Red Hat Mono";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.2px;
}

.wd-1{
    padding: 80px 9% 10px 9%;
}

.wd-2{
    padding: 30px 9% 40px 9%;
}

.whoami-key-terms-container{
    flex-direction: row;
    gap: 10%;
    flex-wrap: wrap;
    width: 90%;
}

.key-terms-insider{
    margin: 20px 0 20px 0;
    gap:10px
}

.key-terms-number{
    color: var(--PortGreen, #8FFF00);
    text-align: center;
    font-family: "Red Hat Mono";
    font-size: 89.863px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; 
    letter-spacing: -1.348px;
}

.ktl{
    color: var(--PortWhite, #FFF);
    text-align: center;
    font-family: "Red Hat Mono";
    line-height: 100%;
    text-transform: uppercase;
    font-style: normal;
}

.key-terms-line1-0{
    font-size: 32.351px;
    font-weight: 400;
    letter-spacing: -0.485px;
}

.key-terms-line2-0{
    font-size: 25.162px;
    font-weight: 700;
    letter-spacing: -0.377px;
}

.key-terms-line1-1{
    font-size:  29.68px;
    font-weight: 400;
    letter-spacing: -0.388px;
}

.key-terms-line2-1{
    font-size:  33.134px;
    font-weight:  700;
    letter-spacing: -0.647px;
}

.whoami-logo-container{
    margin: 20px 0;
    gap:10%;
    width: 90%;
}

.whoami-download-button{
    margin: 20px 0;
    display: inline-flex;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    gap: 6.418px;
    border-radius: 32.51px;
    background: var(--PortGreen, #8FFF00);
    color: #000;
    font-family: "Red Hat Mono";
    font-size: 17.005px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.255px;
}

.whoami-download-button:hover{
    background: #91ff00cc;
}

.whoami-download-button > svg {
    margin-top: 2px;
}


@media (max-width:1200px) {
    .whoami-description{
        font-size: 22px;
    }

    .wd-1{
        padding: 60px 9% 10px 9%;
    }
    
    .wd-2{
        padding: 30px 9% 40px 9%;
    }

    .key-terms-number{
        font-size: 75.863px;
    }

    .key-terms-line1-0{
        font-size: 30.351px;
    }
    
    .key-terms-line2-0{
        font-size: 23.462px;
    }
    
    .key-terms-line1-1{
        font-size:  27.68px;
    }
    
    .key-terms-line2-1{
        font-size:  31.134px;
    }
}


@media (max-width:900px) {
    .whoami-description{
        font-size: 21px;
    }

    .wd-1{
        padding: 50px 9% 10px 9%;
    }

    .key-terms-number{
        font-size: 55.863px;
    }

    .key-terms-line1-0{
        font-size: 27.351px;
    }
    
    .key-terms-line2-0{
        font-size: 20.462px;
    }
    
    .key-terms-line1-1{
        font-size:  24.68px;
    }
    
    .key-terms-line2-1{
        font-size:  28.134px;
    }
}

@media (max-width:600px) {
    .whoami-description{
        font-size: 18px;
    }
    
    .whoami-download-button{
        margin: 20px 0 0 0;
        font-size: 15.005px;
        gap: 2px;
    }

    .whoami-download-button > svg {
        height: 14px;
        margin-top: 0px;
    }
}
