.orglogoset-container {
    padding: 40px 5% 20px 5%;
    overflow: visible; 
    position: relative;
    display: flex;
    white-space: nowrap; 
    flex-wrap: nowrap; 
}

.orglogo-container {
    min-width: 220px;
    height: 80px;
    display: inline-flex;
    border: 1px solid var(--PortGrey2); 
    justify-content: center;
    align-items: center; 
    background-color: transparent;
}

.orglogo-img {
    width: 120px;
    height: 40px;
    object-fit: contain;
}

@media (max-width: 900px) {
    .orglogoset-container {
        padding: 40px 0; 
        animation: scroll-logos 10s linear infinite; 
        width: fit-content;
    }

    .orglogo-container {
        min-width: 220px;
        height: 80px;
        display: inline-flex;
        border: 1px solid var(--PortGrey2); 
        justify-content: center;
        align-items: center; 
        background: #000; 
    }
    
    .orglogo-img {
        width: 100px;
        height: 35px;
        object-fit: contain;
    }
    
    @keyframes scroll-logos {
        from { transform: translateX(0); }
        to { transform: translateX(-50%); } 
    }
}

@media (max-width: 500px) {
    .orglogoset-container {
        padding: 20px 5% 0 5%;
    }
    .orglogo-container {
        min-width: 160px;
        height: 70px;
        background: #000; 
    }
    
    .orglogo-img {
        width: 100px;
        height: 35px;
    }
}
