.orglogoset-container {
    padding: 40px 5% 20px 5%; /* Apply padding normally */
    overflow: visible; /* Hide anything outside the container */
    position: relative;
    display: flex; /* Ensures logos are in a line */
    white-space: nowrap; /* Prevents wrapping of child elements */
    flex-wrap: nowrap; /* Additional assurance against wrapping */
}

.orglogo-container {
    min-width: 220px;
    height: 80px;
    display: inline-flex;
    border: 1px solid var(--PortGrey2); /* Align logos in a row */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    background: #000; /* Background color for logos */
}

.orglogo-img {
    width: 120px;
    height: 40px;
    object-fit: contain;
}

@media (max-width: 900px) {
    .orglogoset-container {
        padding: 40px 0; /* Remove side padding */
        animation: scroll-logos 30s linear infinite; 
        width: fit-content;/* Adjust time for speed */
    }

    .orglogo-container {
        min-width: 220px;
        height: 80px;
        display: inline-flex;
        border: 1px solid var(--PortGrey2); /* Align logos in a row */
        justify-content: center; /* Center content horizontally */
        align-items: center; /* Center content vertically */
        background: #000; /* Background color for logos */
    }
    
    .orglogo-img {
        width: 100px;
        height: 35px;
        object-fit: contain;
    }
    
    /* Keyframes for scrolling effect, ensuring a continuous loop */
    @keyframes scroll-logos {
        from { transform: translateX(0); }
        to { transform: translateX(-50%); } /* Scrolls half the width for seamless looping */
    }
}

@media (max-width: 500px) {
    .orglogo-container {
        min-width: 160px;
        height: 70px;
        background-color: transparent;
    }
    
    .orglogo-img {
        width: 100px;
        height: 35px;
    }
}
