.gradientcircle{
    width: 1200px;
    height: 1200px;
    border-radius: 1400px;
    position: absolute;
    z-index: 0;
    opacity: 0.1;    
    background: radial-gradient(50% 50% at 50% 50%, #8FFF00 0%, rgba(143, 255, 0, 0.00) 100%);
}

.gradient-circle-div1{
    top: -550px;    
    left: 50%;
}

.gradient-circle-div2{
    bottom: -650px;
    left: -600px;
}

.gradient-circle-div3{
    top: 270px;
    right: -550px;
}

.gradient-circle-div4{
    top: 0px;
    left: -600px;
    overflow: visible;
}