.gradientcircle{
    width: 1200px;
    height: 1200px;
    border-radius: 1400px;
    overflow-x: hidden;
    position: absolute;
    z-index: 0;
    opacity: 0.1;    
    background: radial-gradient(50% 50% at 50% 50%, #8FFF00 0%, rgba(143, 255, 0, 0.00) 100%);
}

.gradient-circle-div1{
    top: -75vh;    
    right: -600px;
}

.gradient-circle-div2{
    top: 35vh;
    left: -600px;
}

.gradient-circle-div3{
    top: 130vh;
    right: -600px;
}

.gradient-circle-div4{
    top: 230vh;
    left: -600px;
}

.gradient-circle-div5{
    top: 330vh;
    right: -600px;
}

.gradient-circle-div6{
    top: 430vh;
    left: -600px;
}