.overall-container{
    margin-top: -5%;
}

.typewriter-container{
    border: 1.5px solid var(--PortWhite, #FFF);
    height: fit-content;
    width: fit-content;
    position:relative;
    border-radius:50px 50px 50px 50px ;
    padding: 12.5px 25px;   
}

span{
    color: var(--PortWhite, #FFF);
    font-family: "Red Hat Mono";
    font-size: 20.029px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.3px;
}

@media (max-width:1500px) and (min-height:1000px){
    .overall-container{
        margin-top: -12%;
    }
}

@media (max-width:600px) {
    span{
        font-size: 16.029px;
    }
    .overall-container{
        margin-top: -15%;
    }
}

/* ipad air
@media only screen 
  and (min-device-width : 800px) 
  and (max-device-width : 1100px) 
  and (orientation : landscape) {
    .overall-container{
        margin-top: 150px;
    }
} */